.html_text{
  font-family: Verdana;
  font-size: 30;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}
.bigginer_text{
  font-family: verdana;
  font-size: 18;
  color: gray;
  margin-top: 5;
  margin-bottom: 0;
}
.discription{
  width: 400;
  line-height: 22px;
  font-size: 20;
  font-family: verdana;
  margin-bottom: 20px;
  color: black;

}
.start{
  background-color:rgb(17, 148, 39);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
   border-radius:6px;
   font-weight: bold;
}